.filaImg {
  display: flex;
}

.caja {
  width: 5rem;
  height: 5rem;
  margin-right: 0.5rem;
  background-color: black;
}

.caja::after {
  content: "";
  display: block;
  padding-bottom: 100%;
  float: left;
}

.imgResponsive {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btnDelete {
  background-color: orangered;
  font-size: 12px;
  width: 0.8rem;
  border-radius: 5px;
  position: absolute;
  margin: -4px;
}
