.fileUploader {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: auto;
  padding: 20px 0;
  color: var(--lightMode);
}

.box {
  border: 1px dashed var(--secondary-color);
  border-radius: 10px;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.buttonContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  height: 48%;
}

.buttonContainer > div:first-child{
  padding-right: 0.8rem;
}

.buttonContainer > input{
  padding-top: 1rem;
}

.inputPost {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  resize: none;
  color:var(--secondary-color);
  background: var(--main-color);
  border-bottom: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.box > input[type="file"] {
  display: none;
  cursor: pointer;
}

.box > label {
  cursor: pointer;
}

.icon {
  font-size: 33px;
  margin: 10px;
  color: var(--icons-colors);
}

.dateContainer{
  padding-top: 1rem;
}

.buttonPost{
  background-color: var(--secondary-color);
  width: 23%;
  font-size: 2vh;
  color: white;
  font-weight: bold;
  border-radius: 9px;
}

.buttonPost:is(:active, :hover, :focus){
  background-color: var(--btn-contrast);
  transform: scale(98%);
}

@media (min-width: 576px) and (max-width: 768px) {
  .buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buttonContainer > div:first-child{
    padding-right: 0.2rem;
    font-size: 0.8em;
  }

  .buttonPost{
    width: 50%;
    font-size: 0.8em;
    height: 2.5rem;
  }
}

@media (min-width: 245px) and (max-width: 576px) {
  .buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buttonContainer > div:first-child{
    padding-right: 0;
    font-size: 0.5em;
  }

  .buttonPost{
    width: 80%;
    margin-top: 0.5rem;
    font-size: 0.8em;
    height: 2.5rem;
  }

  .icon{
    height: 1.5rem;
    width: 1.5rem;
  }
}
