.loginFormContainer {
  height: auto;
  min-height: calc(100vh - 15rem);
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}

.loginFormContainer > h3 {
  color: azure;
  font-weight: 800;
}

.loginFormContainer > .loginForm {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: azure;
}

.formLoginBtn {
  width: auto;
  background-color: var(--btn-color);
  color: var(--secondary-color);
  border: 4px solid var(--secondary-color);
  letter-spacing: 0.3em;
  font-weight: 400;
}

.formLoginBtn:is(:hover, :active:focus) {
  background-color: var(--btn-color) !important;
  color: var(--btn-contrast);
  border: 4px solid var(--btn-contrast);
  transform: scale(95%);
}

.redirectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redirectContainer > a {
  text-decoration: none;
  color: azure;
}

.redirectContainer > a > span {
  color: orangered;
}

.formLoginBtnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-block: 1rem;
}

.errorMessage{
  color: orangered;
}

@media (min-width: 245px) and (max-width: 576px) {
  .loginFormContainer > h3 {
    padding-top: 0.5rem;
  }

  .loginFormContainer > .loginForm {
    width: auto;
  }
}