.loginFormContainer {
  height: auto;
  min-height: calc(100vh - 15rem);
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}

.loginFormContainer > h3 {
  color: azure;
  font-weight: 800;
}

.loginFormContainer > .loginForm {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: azure;
}

.loginForm > input {
padding-inline: 0.5rem;
border-radius: 5px;
height: 2.5rem;
}

.focused{
  border: 5px solid var(--secondary-color);
}

.redirectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redirectContainer > a {
  text-decoration: none;
  color: azure;
}

.redirectContainer > a > span {
  color: orangered;
}

.formLoginBtnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-block: 1rem;
}

.errorMessage{
  color: orangered;
}

@media (min-width: 245px) and (max-width: 576px) {
  .loginFormContainer > h3 {
    padding-top: 0.5rem;
  }

  .loginFormContainer > .loginForm {
    width: auto;
  }
}
