.loginFormContainer {
  height: auto;
  min-height: calc(100vh - 15rem);
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}

.loginFormContainerLight {
  height: auto;
  min-height: calc(100vh - 15rem);
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--lightMode);
}

.loginFormContainer > h3 {
  color: azure;
  font-weight: 800;
}

.loginFormContainer > .loginForm {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: var(--lightMode);
}

.loginForm > input {
  padding-inline: 0.5rem;
  border-radius: 5px;
  height: 2.5rem;
}

.loginFormContainerLight > .loginFormLight {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: var(--main-color);
  font-weight: 600;
}

.loginFormLight > input {
  padding-inline: 0.5rem;
  border-radius: 5px;
  height: 2.5rem;
}

.focused {
  border: 5px solid var(--secondary-color);
}

.redirectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redirectContainer > a {
  text-decoration: none;
  color: var(--lightMode);
}

.redirectContainer > a > span {
  color: orangered;
}

.redirectContainerLight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redirectContainerLight > a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 400;
}

.redirectContainerLight > a > span {
  color: orangered;
}

.formLoginBtnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-block: 1rem;
}

.errorMessage {
  color: orangered;
}

@media (min-width: 245px) and (max-width: 576px) {
  .loginFormContainer > h3 {
    padding-top: 0.5rem;
  }

  .loginFormContainerLight > h3 {
    padding-top: 0.5rem;
  }

  .loginFormContainerLight > .loginFormLight {
    width: auto;
  }
}
