.react-calendar__month-view__days__day:hover {
  transform: scale(150%);
}

.eventMarker {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.2rem;
}

.eventMarker > span {
  width: 100%;
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eventMarker > img {
  height: 2rem;
  width: 2rem;
  background-size: cover;
}

.eventMarker > img:hover {
  height: 3rem;
  width: 3rem;
  background-size: cover;
}
