main{
  display: grid;
  grid-template-columns: 4.5rem auto;
  grid-template-rows: minmax(100vh,auto);
}

.homeContent {
  min-height: 100vh;
  width: auto;
  grid-area: "content";
  background-image: url(../../assets/images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--main-color);
  color: black;
}

.homeSide {
  grid-area: "side";
  background-color: var(--secondary-color);
}
