.headerContainer {
  width: 100%;
  height: 6rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--main-color);
  color: var(--lightMode);
  border-bottom: 2px solid rgb(72, 72, 72);
}

.headerContainerLight {
  width: 100%;
  height: 6rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--lightMode);
  color: var(--main-color);
  border-bottom: 2px solid rgb(72, 72, 72);
}

.logoContainer {
  padding-left: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer > span {
  font-family: Expletus;
  font-size: 2.2rem;
  text-shadow: -2px 2px 4px rgba(147, 147, 147, 0.813);
}

.wellcomeUserContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -10%;
}

.userImage{
  height: 3.8rem;
  width: 3.8rem;
  margin: 0 0.5rem 0.2rem 0;
  object-fit: cover;
  border-radius: 50%;
}

.themeBtnContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1.5rem;
}

@media (min-width: 245px) and (max-width: 576px) {
  .logoContainer{
    padding-left: 0.3rem;
  }

  .logoContainer > span {
    font-size: 1.2rem;
  }

  .wellcomeUserContainer {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    margin-left: 0%;
  }

  .wellcomeUserContainer > h5 {
    padding-right: 1rem;
    font-size: 0.8rem;
  }

  .userImage{
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid var(--lightMode);
  }

  .themeBtnContainer{
    padding-right: 0.3rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {

  .logoContainer > span {
    font-size: 1.8rem;
  }
}

@media (min-width: 769px) and (max-width: 992px){
  .logoContainer > span {
    font-size: 2rem;
  }
}
