.headerContainer {
  width: 100%;
  height: 5rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: azure;
  border-bottom: 2px solid rgb(72, 72, 72);
}

.headerContainerLight {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: azure;
  color: black;
  border-bottom: 2px solid rgb(72, 72, 72);
}

.logoContainer {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer > span {
  font-family: Expletus;
  font-size: 2.8rem;
  text-shadow: -2px 2px 4px rgba(147, 147, 147, 0.813);
}

.wellcomeUserContainer {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wellcomeUserContainer > h5 {
  padding-right: 1.5rem;
}

@media (max-width: 576px) {
  .logoContainer {
    width: 50%;
  }
  .logoContainer > span {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .logoContainer {
    width: 50%;
  }
  .logoContainer > span {
    font-size: 1.8rem;
  }
}

@media (max-width: 992px) {
  .logoContainer > span {
    font-size: 2rem;
  }
}
