.headerContainer {
  width: 100%;
  height: 5rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: azure;
  border-bottom: 2px solid rgb(72, 72, 72);
}

.headerContainerLight {
  width: 100%;
  height: 5rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: azure;
  color: black;
  border-bottom: 2px solid rgb(72, 72, 72);
}

.logoContainer {
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer > span {
  font-family: Expletus;
  font-size: 2.8rem;
  text-shadow: -2px 2px 4px rgba(147, 147, 147, 0.813);
}

.wellcomeUserContainer {
  padding-right: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wellcomeUserContainer > h5 {
  padding-right: 5rem;
}

@media (min-width: 245px) and (max-width: 576px) {
  .logoContainer{
    padding-left: 0.5rem;
  }

  .logoContainer > span {
    font-size: 1.2rem;
  }

  .wellcomeUserContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-top: 0.5rem;
  }

  .wellcomeUserContainer > h5 {
    padding-right: 1rem;
    font-size: 0.8rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {

  .logoContainer > span {
    font-size: 1.8rem;
  }
}

@media (min-width: 769px) and (max-width: 992px){
  .logoContainer > span {
    font-size: 2rem;
  }
}
