.profileMainContainer {
  display: grid;
  grid-template-columns: 4.5rem calc(100% - 4.5rem);
}

.userProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
  color: var(--lightMode);
  padding-block: 1.5rem;
}

.userProfileContainerLight{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightMode);
  color: var(--main-color);
  padding-block: 1.5rem;
  font-weight: 800;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-top: 1.5rem;
}

.gridItem {
  grid-column: span 1;
  width: 100%;
}

.gridItem label {
  display: block;
  margin-bottom: 0.5rem;
}

.gridItem > input {
  padding-inline: 0.5rem;
  border-radius: 5px;
  height: 2.5rem;
  width: 40vw;
}

.registerForm > :last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1.5rem;
}

.modalGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding-top: 1rem;
}

.modalGridItem {
  grid-column: span 1;
  padding-left: 2rem;
}

.modalGridItem label {
  display: block;
  margin-bottom: 0.5rem;
}

.modalGridItem > input {
  padding-inline: 0.5rem;
  border-radius: 5px;
  height: 2.5rem;
  width: 90%;
}

@media (min-width: 221px) and (max-width: 768px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .modalGridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}