.landingMainContainer {
  max-width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-image: url("../../assets/images/landing/landingBcg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 1.5rem;
}

.landingMainContainer > div:first-child {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px;
  text-align: center;
}

.pageTitle {
  font-family: Expletus;
}

.landingMainContainer div h4 {
  color: var(--lightMode);
  font-weight: 600;
}

.landingMainContainer > div:nth-child(2) {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 500px;
  text-align: center;
  background: rgba(66, 66, 66, 0.345);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.055);
  font-size: x-large;
}

.loginLanding {
  background-image: url(../../assets/images/landing/calendar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  box-shadow: inset 0px 0px 0px 6px #c8c8c87d;
}

.loginBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.landingMainContainer > div:nth-child(3) {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 250px 250px;
  background: rgba(66, 66, 66, 0.339);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.055);
  text-align: justify;
  font-size: large;
}

.grid1,
.grid2 {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 2px solid rgba(144, 143, 143, 0.721);
}

.grid1 > p,
.grid2 > p {
  padding: 0.5rem;
}

.grid1 {
  grid-template-columns: 0.3fr 2fr;
}

.grid1 > div:last-child,
.grid2 > div {
  padding-inline: 2.5rem;
}

.grid2 {
  grid-template-columns: 2fr 0.3fr;
}

.adImage1 {
  background-image: url(../../assets/images/landing/photoLanding.jpg);
}

.adImage2 {
  background-image: url(../../assets/images/landing/socialLanding.jpg);
}

.adImage2,
.adImage1 {
  height: 10rem;
  width: 12rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 45%;
  box-shadow: inset 0px 0px 0px 6px #c8c8c87d;
}

@media (min-width: 556px) and (max-width: 768px) {
  .adImage2,
  .adImage1 {
    height: 5rem;
    width: 8rem;
  }

  .landingMainContainer > div:nth-child(3) {
    font-size: small;
  }
}

@media (min-width: 221px) and (max-width: 556px) {
  .landingMainContainer div h4 {
    font-size: medium;
  }

  .landingMainContainer > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: large;
  }

  .loginLanding {
    height: 8rem;
    background-position: center;
  }

  .loginBtnContainer {
    padding-block: 0.8rem;
    gap: 1.3rem;
    font-size: small;
  }

  .adImage2,
  .adImage1 {
    display: none;
    /* height: 3rem;
    width: 4.5rem; */
  }

  .landingMainContainer > div:nth-child(2) {
    font-size: small;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 450px;
  }

  .landingMainContainer > div:nth-child(3) {
    font-size: x-small;
    display: flex;
    flex-direction: column;
  }

  .grid1,
  .grid2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid1 > div:last-child,
  .grid2 > div {
    padding: 1rem;
  }
}
