.postContainer {
  width: 80%;
  height: auto;
  border: 2px solid var(--icons-colors);
  border-radius: 10px;
  padding: 1rem;
}

.infoPostContainer {
  padding-block: 0.5rem;
}

.user {
  font-weight: bold;
  font-size: 18px;
  padding-right: 0.8rem;
}

.tasksContainer{
  text-align: left;
}

.nameIconPost {
  padding-right: 0.3rem;
  font-size: 20px;
}

.iconPost {
  padding-right: 0.3rem;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}

.likeBtn:is(:hover,:active,:focus) {
  transform: scale(95%);
  color: var(--secondary-color);
  cursor: pointer;
}

.imageContainer {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.title {
  font-weight: bold;
  margin-top: 10px;
}

.dataPost {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  padding: 0 10px;
}

.countComment {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .postContainer {
    height: auto;
  }

  .infoPostContainer,
  .dataPost {
    padding: 5px;
    font-size: 14px;
  }

  .user {
    font-size: 16px;
  }

  .iconPost {
    font-size: 16px;
  }

  .title {
    font-size: 16px;
  }

  .countComment {
    font-size: 16px;
  }
}

