.registerFormContainer {
  height: auto;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}

.registerFormContainerLight {
  height: auto;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--lightMode);
}

.registerFormContainer > h3 {
  color: var(--lightMode);
  font-weight: 800;
  padding-top: 0.5rem;
}

.registerFormContainerLight > h3 {
  color: var(--main-color);
  font-weight: 800;
  padding-top: 0.5rem;
}

.registerFormContainer > .registerForm {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: var(--lightMode);
}

.registerForm > input {
  padding-inline: 0.5rem;
  border-radius: 5px;
  height: 2.5rem;
}

.registerFormContainerLight > .registerFormLight {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: var(--main-color);
}

.registerFormLight > input {
  padding-inline: 0.5rem;
  border-radius: 5px;
  height: 2.5rem;
}

.registerFormLight > label {
  font-weight: 600;
}

.registerRedirectContainer .registerFormContainerLight {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.registerRedirectContainer > a {
  text-decoration: none;
  color: var(--lightMode);
}

.registerRedirectContainer > a > span {
  color: orangered;
}

.registerRedirectContainerLight > a {
  text-decoration: none;
  color: var(--main-color);
}

.registerRedirectContainerLight > a > span {
  color: orangered;
  font-weight: 600;
}