.profileCard {
  height: 25rem;
  display: flex;
  justify-content: space-around;
  background: rgba(150, 150, 150, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.055);
  border-radius: 10px;
  margin: 0 auto;
}

.profileHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.8rem;
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profileInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  text-align: left;
  padding: 2rem;
  width: 80%;
}

.profileLabel {
  font-weight: bold;
  color: var(--lightMode);
}

.profileValue {
  color: var(--lightMode);
  font-size: 1em;
  border-bottom: 1px dotted var(--secondary-color);
}

.profileLabelLight {
  font-weight: bold;
  color: var(--btn-color);
}

.profileValueLight {
  color: var(--btn-color);
  font-size: 1em;
  border-bottom: 1px dotted var(--btn-contrast);
}

#imageInput {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 2rem;
  cursor: pointer;
  outline: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.errorPicture{
  color: red;
}

@media (min-width: 556px) and (max-width: 768px) {
  .profileCard {
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
  }

  .profileImage {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .profileContent {
    text-align: center;
  }

  .profileInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    text-align: left;
    padding: 1rem;
    width: 80%;
  }
}

@media (min-width: 221px) and (max-width: 556px) {
  .profileCard {
    height: auto;
    width: 60vw;
    flex-direction: column;
    padding-top: 0.5rem;
  }

  .profileHeader {
    padding-left: 0.3rem;
  }

  .profileImage {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .profileContent {
    text-align: center;
  }

  .profileInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 0.7em;
    padding: 1rem;
  }
}
