@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap");
@font-face {
  font-family: Expletus;
  src: url(./assets/fonts/ExpletusSans-Medium.ttf);
}

:root {
  --main-color: #121212;
  --secondary-color: #ffbf2b;
  --btn-color: #1d1d1d;
  --btn-contrast: #b27e12;
  --btn-backgroud-accent: #2e2e2e;
  --lightMode: #fcfcfc;
  --icons-colors: #505050;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", "Roboto", "Oxygen", "Cantarell", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
}
